/* line 1, ../../sass/pages/dashboard.sass */
.dashboard-item {
  margin-right: 1px;
  display: block;
  float: left;
  overflow: hidden;
  width: 250px;
  height: 153px;
  background: #cdedff;
  padding: 10px;
  position: relative;
}
/* line 11, ../../sass/pages/dashboard.sass */
.dashboard-item header {
  color: #077cbe;
  font-weight: bold;
}
/* line 14, ../../sass/pages/dashboard.sass */
.dashboard-item header .date {
  font-size: 80%;
  color: #8b8b8b;
  letter-spacing: 0;
}
/* line 18, ../../sass/pages/dashboard.sass */
.dashboard-item footer {
  width: 284px;
  padding: 0 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 25px;
  line-height: 25px;
  background: #484848;
  font-weight: bold;
}
/* line 28, ../../sass/pages/dashboard.sass */
.dashboard-item footer a {
  color: white;
  text-decoration: none;
  font-size: 90%;
}
/* line 32, ../../sass/pages/dashboard.sass */
.dashboard-item footer a:hover {
  text-decoration: underline;
}
