/*
Syntax error: Undefined variable: "$subtle".
        on line 9 of /home/alexd/www/bluey/public/sass/pages/plans.sass

4:  * Contents:
5:  * - 
6:  */
7: 
8: ul.plans
9:   border-top: 1px solid $subtle
10:   li
11:     border-bottom: 1px solid $subtle
12:     padding: 20px 10px
13:     a.title
14:       color: $text_colour

Backtrace:
/home/alexd/www/bluey/public/sass/pages/plans.sass:9
/var/lib/gems/1.8/gems/haml-3.0.25/lib/sass/script/variable.rb:39:in `_perform'
/var/lib/gems/1.8/gems/haml-3.0.25/lib/sass/script/node.rb:61:in `perform'
/var/lib/gems/1.8/gems/haml-3.0.25/lib/sass/script/operation.rb:67:in `_perform'
/var/lib/gems/1.8/gems/haml-3.0.25/lib/sass/script/node.rb:61:in `perform'
/var/lib/gems/1.8/gems/haml-3.0.25/lib/sass/tree/prop_node.rb:132:in `perform!'
/var/lib/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/var/lib/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/var/lib/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/var/lib/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/var/lib/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/var/lib/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/var/lib/gems/1.8/gems/haml-3.0.25/lib/sass/tree/rule_node.rb:191:in `perform!'
/var/lib/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/var/lib/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/var/lib/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/var/lib/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/var/lib/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/var/lib/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/var/lib/gems/1.8/gems/haml-3.0.25/lib/sass/tree/root_node.rb:59:in `perform!'
/var/lib/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/var/lib/gems/1.8/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/var/lib/gems/1.8/gems/haml-3.0.25/lib/sass/tree/root_node.rb:37:in `perform'
/var/lib/gems/1.8/gems/haml-3.0.25/lib/sass/tree/root_node.rb:29:in `render'
/var/lib/gems/1.8/gems/haml-3.0.25/lib/sass/plugin.rb:223:in `update_stylesheet'
/var/lib/gems/1.8/gems/haml-3.0.25/lib/sass/plugin.rb:88:in `update_stylesheets'
/var/lib/gems/1.8/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `each'
/var/lib/gems/1.8/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `update_stylesheets'
/var/lib/gems/1.8/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `each'
/var/lib/gems/1.8/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `update_stylesheets'
/var/lib/gems/1.8/gems/haml-3.0.25/lib/sass/plugin.rb:50:in `check_for_updates'
/var/lib/gems/1.8/gems/haml-3.0.25/lib/sass/plugin/rack.rb:40:in `call'
/var/lib/gems/1.8/gems/warden-1.0.4/lib/warden/manager.rb:35:in `call'
/var/lib/gems/1.8/gems/warden-1.0.4/lib/warden/manager.rb:34:in `catch'
/var/lib/gems/1.8/gems/warden-1.0.4/lib/warden/manager.rb:34:in `call'
/var/lib/gems/1.8/gems/actionpack-3.0.7/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/var/lib/gems/1.8/gems/actionpack-3.0.7/lib/action_dispatch/middleware/head.rb:14:in `call'
/var/lib/gems/1.8/gems/rack-1.2.2/lib/rack/methodoverride.rb:24:in `call'
/var/lib/gems/1.8/gems/actionpack-3.0.7/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/var/lib/gems/1.8/gems/actionpack-3.0.7/lib/action_dispatch/middleware/flash.rb:182:in `call'
/var/lib/gems/1.8/gems/actionpack-3.0.7/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/var/lib/gems/1.8/gems/actionpack-3.0.7/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/var/lib/gems/1.8/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:32:in `call'
/var/lib/gems/1.8/gems/activerecord-3.0.7/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/var/lib/gems/1.8/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:12:in `cache'
/var/lib/gems/1.8/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:31:in `call'
/var/lib/gems/1.8/gems/activerecord-3.0.7/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/var/lib/gems/1.8/gems/actionpack-3.0.7/lib/action_dispatch/middleware/callbacks.rb:46:in `call'
/var/lib/gems/1.8/gems/activesupport-3.0.7/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/var/lib/gems/1.8/gems/actionpack-3.0.7/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/var/lib/gems/1.8/gems/rack-1.2.2/lib/rack/sendfile.rb:107:in `call'
/var/lib/gems/1.8/gems/actionpack-3.0.7/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/var/lib/gems/1.8/gems/actionpack-3.0.7/lib/action_dispatch/middleware/show_exceptions.rb:47:in `__cucumber_orig_call__'
/var/lib/gems/1.8/gems/cucumber-rails-0.4.1/lib/cucumber/rails3/action_controller.rb:10:in `call'
/var/lib/gems/1.8/gems/railties-3.0.7/lib/rails/rack/logger.rb:13:in `call'
/var/lib/gems/1.8/gems/rack-1.2.2/lib/rack/runtime.rb:17:in `call'
/var/lib/gems/1.8/gems/activesupport-3.0.7/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/var/lib/gems/1.8/gems/rack-1.2.2/lib/rack/lock.rb:11:in `call'
/var/lib/gems/1.8/gems/rack-1.2.2/lib/rack/lock.rb:11:in `synchronize'
/var/lib/gems/1.8/gems/rack-1.2.2/lib/rack/lock.rb:11:in `call'
/var/lib/gems/1.8/gems/actionpack-3.0.7/lib/action_dispatch/middleware/static.rb:30:in `call'
/var/lib/gems/1.8/gems/railties-3.0.7/lib/rails/application.rb:168:in `call'
/var/lib/gems/1.8/gems/rack-1.2.2/lib/rack/urlmap.rb:47:in `call'
/var/lib/gems/1.8/gems/rack-1.2.2/lib/rack/urlmap.rb:41:in `each'
/var/lib/gems/1.8/gems/rack-1.2.2/lib/rack/urlmap.rb:41:in `call'
/var/lib/gems/1.8/gems/rack-test-0.5.7/lib/rack/mock_session.rb:30:in `request'
/var/lib/gems/1.8/gems/rack-test-0.5.7/lib/rack/test.rb:209:in `process_request'
/var/lib/gems/1.8/gems/rack-test-0.5.7/lib/rack/test.rb:57:in `get'
(__FORWARDABLE__):3:in `__send__'
(__FORWARDABLE__):3:in `get'
/var/lib/gems/1.8/gems/capybara-0.4.1.2/lib/capybara/driver/rack_test_driver.rb:259:in `get'
/var/lib/gems/1.8/gems/capybara-0.4.1.2/lib/capybara/driver/rack_test_driver.rb:206:in `send'
/var/lib/gems/1.8/gems/capybara-0.4.1.2/lib/capybara/driver/rack_test_driver.rb:206:in `process'
/var/lib/gems/1.8/gems/capybara-0.4.1.2/lib/capybara/driver/rack_test_driver.rb:200:in `visit'
/var/lib/gems/1.8/gems/capybara-0.4.1.2/lib/capybara/session.rb:135:in `visit'
/var/lib/gems/1.8/gems/capybara-0.4.1.2/lib/capybara/dsl.rb:104:in `visit'
/home/alexd/www/bluey/features/step_definitions/user_steps.rb:71
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/core_ext/instance_exec.rb:48:in `instance_exec'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/core_ext/instance_exec.rb:48:in `cucumber_instance_exec'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/core_ext/instance_exec.rb:69:in `cucumber_run_with_backtrace_filtering'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/core_ext/instance_exec.rb:36:in `cucumber_instance_exec'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/rb_support/rb_step_definition.rb:62:in `invoke'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/step_match.rb:26:in `invoke'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/runtime/support_code.rb:138:in `invoke'
(__FORWARDABLE__):3:in `__send__'
(__FORWARDABLE__):3:in `invoke'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/rb_support/rb_world.rb:22:in `Given'
/home/alexd/www/bluey/features/step_definitions/user_steps.rb:45
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/core_ext/instance_exec.rb:48:in `instance_exec'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/core_ext/instance_exec.rb:48:in `cucumber_instance_exec'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/core_ext/instance_exec.rb:69:in `cucumber_run_with_backtrace_filtering'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/core_ext/instance_exec.rb:36:in `cucumber_instance_exec'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/rb_support/rb_step_definition.rb:62:in `invoke'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/step_match.rb:26:in `invoke'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/ast/step_invocation.rb:63:in `invoke'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/ast/step_invocation.rb:42:in `accept'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/ast/tree_walker.rb:99:in `visit_step'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/ast/tree_walker.rb:164:in `broadcast'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/ast/tree_walker.rb:98:in `visit_step'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/ast/step_collection.rb:15:in `accept'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/ast/step_collection.rb:14:in `each'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/ast/step_collection.rb:14:in `accept'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/ast/tree_walker.rb:93:in `visit_steps'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/ast/tree_walker.rb:164:in `broadcast'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/ast/tree_walker.rb:92:in `visit_steps'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/ast/scenario.rb:53:in `accept'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/runtime.rb:79:in `with_hooks'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/runtime.rb:95:in `before_and_after'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/runtime.rb:78:in `with_hooks'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/runtime/support_code.rb:115:in `call'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/runtime/support_code.rb:115:in `around'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/language_support/language_methods.rb:13:in `around'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/language_support/language_methods.rb:95:in `call'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/language_support/language_methods.rb:95:in `execute_around'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/language_support/language_methods.rb:12:in `around'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/runtime/support_code.rb:114:in `around'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/runtime/support_code.rb:112:in `call'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/runtime/support_code.rb:112:in `around'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/runtime.rb:90:in `around'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/runtime.rb:77:in `with_hooks'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/ast/scenario.rb:51:in `accept'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/ast/scenario.rb:106:in `with_visitor'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/ast/scenario.rb:45:in `accept'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/ast/tree_walker.rb:51:in `visit_feature_element'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/ast/tree_walker.rb:164:in `broadcast'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/ast/tree_walker.rb:50:in `visit_feature_element'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/ast/feature.rb:40:in `accept'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/ast/feature.rb:39:in `each'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/ast/feature.rb:39:in `accept'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/ast/tree_walker.rb:20:in `visit_feature'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/ast/tree_walker.rb:164:in `broadcast'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/ast/tree_walker.rb:19:in `visit_feature'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/ast/features.rb:29:in `accept'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/ast/features.rb:17:in `each'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/ast/features.rb:17:in `each'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/ast/features.rb:28:in `accept'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/ast/tree_walker.rb:14:in `visit_features'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/ast/tree_walker.rb:164:in `broadcast'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/ast/tree_walker.rb:13:in `visit_features'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/runtime.rb:45:in `run!'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/cli/main.rb:43:in `execute!'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/../lib/cucumber/cli/main.rb:20:in `execute'
/var/lib/gems/1.8/gems/cucumber-0.10.2/bin/cucumber:14
/var/lib/gems/1.8/bin/cucumber:19:in `load'
/var/lib/gems/1.8/bin/cucumber:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$subtle\".\A         on line 9 of /home/alexd/www/bluey/public/sass/pages/plans.sass\A \A 4:  * Contents:\A 5:  * - \A 6:  */\A 7: \A 8: ul.plans\A 9:   border-top: 1px solid $subtle\A 10:   li\A 11:     border-bottom: 1px solid $subtle\A 12:     padding: 20px 10px\A 13:     a.title\A 14:       color: $text_colour"; }
