/* Stylesheet for Bluey health and fitness
 * Author: Alex Duller
 * Contents:
 * - Variables
 * - Colours
 * - Mixins
 * - Globals and wrapper
 * - Left column
 * - Right column
 */
/* line 14, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* Variables */
/* Colours */
/* Font sizes */
/* Mixins */
/*
 * Form styling for Bluey health + fitness
 * Author: Alex Duller
 * Contents:
 * - Global form styling
 * - Devise forms
 * - User profile forms
 * - Editable fields
 */
/* line 13, ../sass/forms.sass */
form {
  display: block;
  margin: 10px 0;
}
/* line 16, ../sass/forms.sass */
form p {
  margin-bottom: 15px;
}
/* line 18, ../sass/forms.sass */
form textarea {
  height: 100px;
}
/* line 20, ../sass/forms.sass */
form textarea.small {
  height: 60px;
}
/* line 22, ../sass/forms.sass */
form input[type=text], form input[type=password], form textarea {
  border: 1px solid #dddddd;
  padding: 5px;
  width: 300px;
  font-size: 100%;
}
/* line 29, ../sass/forms.sass */
form input.number {
  width: 50px !important;
}
/* line 31, ../sass/forms.sass */
form input.half-size {
  width: 150px;
}
/* line 33, ../sass/forms.sass */
form p.number {
  float: left;
  margin-right: 50px;
}

/* line 37, ../sass/forms.sass */
#error_explanation {
  background: #ff9c99;
  border: 1px solid #990000;
  padding: 10px;
  margin-bottom: 10px;
}

/* line 43, ../sass/forms.sass */
.field_with_errors {
  color: #990000;
  display: inline;
}

/* Devise forms */
/* line 48, ../sass/forms.sass */
#devise {
  padding: 0 200px;
}
/* line 50, ../sass/forms.sass */
#devise #content {
  margin: 50px 20px;
}

/* line 54, ../sass/forms.sass */
#dialog-form #content {
  margin: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/* User profile forms */
/* line 59, ../sass/forms.sass */
.user-form {
  overflow: hidden;
  *zoom: 1;
  background: #efefef;
  border: 1px solid #cccccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
}
/* line 66, ../sass/forms.sass */
.user-form h2, .user-form legend {
  color: #414141;
  font-weight: bold;
}
/* line 69, ../sass/forms.sass */
.user-form fieldset {
  padding: 10px;
  margin: 10px 0;
}
/* line 72, ../sass/forms.sass */
.user-form fieldset ul {
  margin-top: 10px;
}
/* line 74, ../sass/forms.sass */
.user-form fieldset ul li {
  margin: 5px 0;
}
/* line 76, ../sass/forms.sass */
.user-form input[type=text], .user-form textarea {
  width: 400px;
}
/* line 78, ../sass/forms.sass */
.user-form textarea {
  height: 100px;
}

/* Editable fields */
/* line 82, ../sass/forms.sass */
.on_the_spot_editing {
  display: block;
}
/* line 84, ../sass/forms.sass */
.on_the_spot_editing:hover {
  background: #fffcc3;
}
/* line 86, ../sass/forms.sass */
.on_the_spot_editing form {
  padding: 10px;
}
/* line 88, ../sass/forms.sass */
.on_the_spot_editing form input, .on_the_spot_editing form textarea {
  display: block;
  width: 300px !important;
  height: 14px !important;
  padding: 5px;
  border: 1px solid #dddddd;
}
/* line 94, ../sass/forms.sass */
.on_the_spot_editing form textarea {
  height: 100px !important;
  margin-bottom: 5px;
}
/* line 97, ../sass/forms.sass */
.on_the_spot_editing form button[type=submit] {
  font-size: 11px;
}

/* New plans form */
/* line 105, ../sass/forms.sass */
#new_plan input[type=text].wide, #new_plan textarea.wide {
  width: 843px;
}
/* line 108, ../sass/forms.sass */
#new_plan .add-plan-item {
  margin: 10px 0;
}
/* line 110, ../sass/forms.sass */
#new_plan .remove_nested_fields {
  display: block;
  float: left;
  color: #414141;
  text-decoration: none;
  margin-right: 20px;
}
/* line 116, ../sass/forms.sass */
#new_plan .remove_nested_fields:hover {
  color: #3baeee;
}
/* line 118, ../sass/forms.sass */
#new_plan .fields {
  overflow: hidden;
  *zoom: 1;
}
/* line 120, ../sass/forms.sass */
#new_plan .plan-item {
  overflow: hidden;
  *zoom: 1;
}
/* line 122, ../sass/forms.sass */
#new_plan .item-fields {
  float: left;
}
/* line 124, ../sass/forms.sass */
#new_plan .exercise-name {
  width: 720px;
}
/* line 126, ../sass/forms.sass */
#new_plan .exercise-metrics {
  margin: 5px 0;
  padding: 5px;
  background: #cdcdcd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
/* line 131, ../sass/forms.sass */
#new_plan .exercise-metrics legend {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background: #9a9a9a;
  width: 100%;
  padding: 5px;
  margin: 0 -5px;
  color: #414141;
  font-size: 12px;
}
/* line 139, ../sass/forms.sass */
#new_plan .exercise-metrics .fields {
  margin-bottom: 5px;
  padding: 5px;
  background: white;
}
/* line 143, ../sass/forms.sass */
#new_plan .exercise-metrics .fields p {
  float: left;
  margin: 0 30px 0 0;
}
/* line 146, ../sass/forms.sass */
#new_plan #plan_submit {
  width: 853px;
}

/* line 1, ../sass/pages/user-profile.sass */
.edit-email {
  float: right;
  font-size: 12px;
  display: block;
  margin-left: 10px;
}

/* line 7, ../sass/pages/user-profile.sass */
#user-profile .badges {
  float: right;
  width: 200px;
}

/* line 11, ../sass/pages/user-profile.sass */
#profile-picture {
  cursor: pointer;
}

/* line 14, ../sass/pages/user-profile.sass */
#user-info {
  width: 450px;
  float: left;
}

/* User profile navigation */
/* line 19, ../sass/pages/user-profile.sass */
#user-tabs {
  clear: both;
  float: left;
  margin: 35px 0 10px 0;
}
/* line 23, ../sass/pages/user-profile.sass */
#user-tabs li {
  padding: 5px 15px 5px 5px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  -o-border-top-right-radius: 0;
  -ms-border-top-right-radius: 0;
  -khtml-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  -o-border-bottom-right-radius: 0;
  -ms-border-bottom-right-radius: 0;
  -khtml-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 10px;
}
/* line 29, ../sass/pages/user-profile.sass */
#user-tabs li.selected, #user-tabs li:hover {
  background: #cccccc;
}
/* line 31, ../sass/pages/user-profile.sass */
#user-tabs li a {
  text-align: center;
  display: block;
  padding: 10px;
  width: 120px;
  line-height: 30px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0%, #3baeee), color-stop(45%, #3baeee), color-stop(45%, #5ebdf1), color-stop(100%, #5ebdf1));
  background-image: -moz-linear-gradient(bottom, #3baeee 0%, #3baeee 45%, #5ebdf1 45%, #5ebdf1 100%);
  background-image: linear-gradient(bottom, #3baeee 0%, #3baeee 45%, #5ebdf1 45%, #5ebdf1 100%);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: #bbbbbb 0 0 1px 0px;
  -webkit-box-shadow: #bbbbbb 0 0 1px 0px;
  -o-box-shadow: #bbbbbb 0 0 1px 0px;
  box-shadow: #bbbbbb 0 0 1px 0px;
  border: 1px solid #999999;
  color: white;
  text-shadow: #378cbb 1px 1px 2px;
}

/* line 43, ../sass/pages/user-profile.sass */
#user-forms {
  display: block;
  float: left;
  width: 650px;
  position: relative;
  /* Used for select all that apply */
}
/* line 50, ../sass/pages/user-profile.sass */
#user-forms .hint {
  font-size: 12px;
}
/* line 53, ../sass/pages/user-profile.sass */
#user-forms #new_user_image {
  clear: both;
}
/* line 57, ../sass/pages/user-profile.sass */
#user-forms #edit-symptoms textarea {
  height: 200px;
  width: 600px;
}

/* Goals */
/* line 62, ../sass/pages/user-profile.sass */
.person {
  position: relative;
  width: 250px;
  height: 550px;
  float: left;
}

/* line 67, ../sass/pages/user-profile.sass */
#man {
  background: url(/images/man.png);
}
/* line 69, ../sass/pages/user-profile.sass */
#man li {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(/images/circle.png) no-repeat;
  text-indent: -30000px;
  overflow: hidden;
  cursor: pointer;
}
/* line 77, ../sass/pages/user-profile.sass */
#man li.selected, #man li:hover {
  background-position: 0 -20px;
}
/* line 79, ../sass/pages/user-profile.sass */
#man li#general {
  text-indent: 0;
  width: 50px;
  padding-left: 25px;
  font-size: 11px;
  line-height: 20px;
}

/* line 85, ../sass/pages/user-profile.sass */
#parts {
  float: right;
  width: 350px;
}

/* Pictures */
/* line 90, ../sass/pages/user-profile.sass */
#user-images {
  margin-top: 10px;
  min-height: 100px;
}

/* line 94, ../sass/pages/user-profile.sass */
.user-image {
  width: 100px;
  margin: 0 25px 20px 0;
  float: left;
  position: relative;
  font-size: 12px;
}
/* line 100, ../sass/pages/user-profile.sass */
.user-image a, .user-image p {
  text-align: center;
  display: block;
  width: 104px;
  display: block;
}
/* line 105, ../sass/pages/user-profile.sass */
.user-image .delete-image {
  position: absolute;
  top: -10px;
  right: -15px;
  background: url(/images/close.png) no-repeat 0 0;
  width: 25px;
  height: 25px;
  z-index: 10000;
  text-indent: -30000px;
  outline: 0;
  cursor: pointer;
}
/* line 115, ../sass/pages/user-profile.sass */
.user-image .use-for-profile {
  font-size: 11px;
  padding-bottom: 5px;
}

/* Landing page */
/* line 3, ../sass/pages/landing.sass */
#landing-page h1 {
  margin-top: 50px;
  font-family: "Waiting for the Sunrise", arial, sans-serif;
  font-size: 64px;
  text-align: center;
}
/* line 8, ../sass/pages/landing.sass */
#landing-page #left-col {
  float: left;
  margin-bottom: 50px;
}
/* line 11, ../sass/pages/landing.sass */
#landing-page #video {
  display: block;
  width: 640px;
  height: 380px;
}
/* line 15, ../sass/pages/landing.sass */
#landing-page #right-col {
  width: 332px;
  text-align: center;
  float: right;
}
/* line 19, ../sass/pages/landing.sass */
#landing-page #alpha {
  margin-top: 30px;
  width: 332px;
  height: 225px;
  background: url(/images/alpha.png) no-repeat;
}
/* line 24, ../sass/pages/landing.sass */
#landing-page #sign-up {
  display: block;
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0%, #3baeee), color-stop(45%, #3baeee), color-stop(45%, #5ebdf1), color-stop(100%, #5ebdf1));
  background-image: -moz-linear-gradient(bottom, #3baeee 0%, #3baeee 45%, #5ebdf1 45%, #5ebdf1 100%);
  background-image: linear-gradient(bottom, #3baeee 0%, #3baeee 45%, #5ebdf1 45%, #5ebdf1 100%);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: #bbbbbb 0 0 1px 0px;
  -webkit-box-shadow: #bbbbbb 0 0 1px 0px;
  -o-box-shadow: #bbbbbb 0 0 1px 0px;
  box-shadow: #bbbbbb 0 0 1px 0px;
  border: 1px solid #999999;
  padding: 15px 30px;
  color: white;
  text-decoration: none;
  font-size: 36px;
  margin: 30px 50px 5px 50px;
  text-shadow: #378cbb 1px 1px 2px;
}
/* line 33, ../sass/pages/landing.sass */
#landing-page #sign-in {
  clear: right;
}
/* line 35, ../sass/pages/landing.sass */
#landing-page ol {
  clear: both;
  background: url(/images/steps.png) no-repeat 160px 0;
  padding: 65px 0 0 50px;
}
/* line 39, ../sass/pages/landing.sass */
#landing-page ol li {
  float: left;
  width: 195px;
  margin: 0 50px;
  text-align: center;
}

/* line 45, ../sass/pages/landing.sass */
.ui-widget-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #666666;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}

/* line 54, ../sass/pages/landing.sass */
.ui-dialog {
  padding: 10px;
  background: white;
  -moz-box-shadow: #333333 0 0 2px 0px;
  -webkit-box-shadow: #333333 0 0 2px 0px;
  -o-box-shadow: #333333 0 0 2px 0px;
  box-shadow: #333333 0 0 2px 0px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

/* line 60, ../sass/pages/landing.sass */
.ui-icon-closethick {
  display: block;
  width: 25px;
  height: 25px;
  background: url(/images/close.png) no-repeat;
  text-indent: -30000px;
  outline: 0;
  float: right;
  margin-left: -3px;
}

/*
 * Stylesheet for plans
 * Author: Alex Duller
 * Contents:
 * - 
 */
/* line 12, ../sass/pages/plans.sass */
#plan {
  float: left;
  width: 853px;
  margin-right: 10px;
}
/* line 16, ../sass/pages/plans.sass */
#plan h1 {
  margin: 10px 0;
}

/* line 20, ../sass/pages/plans.sass */
ul.plans li {
  padding: 5px 0;
}
/* line 22, ../sass/pages/plans.sass */
ul.plans li a.title {
  font-weight: bold;
  font-size: 13.34px;
}
/* line 25, ../sass/pages/plans.sass */
ul.plans li .creator {
  font-size: 11px;
  color: #666666;
}

/* line 29, ../sass/pages/plans.sass */
.day, .history {
  margin-bottom: 10px;
  background: #efefef;
  border: 1px solid #cccccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

/* line 35, ../sass/pages/plans.sass */
.day {
  /* Form to add an exercise */
}
/* line 36, ../sass/pages/plans.sass */
.day h3 {
  font-weight: normal;
  padding: 7px 7px 0 7px;
  font-size: 18px;
}
/* line 40, ../sass/pages/plans.sass */
.day h3 a {
  float: right;
  font-size: 12px;
}
/* line 43, ../sass/pages/plans.sass */
.day section {
  padding: 0 7px;
}
/* line 45, ../sass/pages/plans.sass */
.day section li {
  overflow: hidden;
  *zoom: 1;
  padding: 7px 0;
  border-bottom: 1px dotted #cdcdcd;
}
/* line 50, ../sass/pages/plans.sass */
.day form {
  background: #fffcc3;
  margin: 10px 20px;
  padding: 5px 5px 0px 5px;
  font-size: 12px;
  float: left;
}
/* line 56, ../sass/pages/plans.sass */
.day form label {
  font-weight: bold;
  width: 70px;
  display: inline-block;
}
/* line 60, ../sass/pages/plans.sass */
.day form .buttons {
  padding-bottom: 5px;
}
/* line 62, ../sass/pages/plans.sass */
.day form p {
  margin-bottom: 5px;
}
/* line 65, ../sass/pages/plans.sass */
.day form #error_explanation h3 {
  background: none;
  padding: 0;
  margin: 0;
  border: 0;
  text-shadow: none;
  color: #990000;
  font-size: 13.34px;
}
/* line 73, ../sass/pages/plans.sass */
.day form #error_explanation li {
  border: 0;
}

/* line 76, ../sass/pages/plans.sass */
li.plan-item.completed {
  color: #cdcdcd;
}

/* line 79, ../sass/pages/plans.sass */
#no-days {
  display: block;
  margin-bottom: 10px;
}

/* line 83, ../sass/pages/plans.sass */
.add-exercise {
  display: inline-block;
  margin: 7px;
  font-size: 12px;
}

/* line 88, ../sass/pages/plans.sass */
.found span {
  background: #cdcdcd;
  border: 1px solid #cccccc;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  padding: 3px;
  display: inline-block;
  margin-right: 5px;
}

/* line 96, ../sass/pages/plans.sass */
.plan-item {
  /* Delete link */
}
/* line 97, ../sass/pages/plans.sass */
.plan-item header {
  float: left;
  width: 200px;
}
/* line 100, ../sass/pages/plans.sass */
.plan-item section {
  float: left;
  border: 0;
  margin: 0;
  width: 300px;
  padding: 0;
}
/* line 106, ../sass/pages/plans.sass */
.plan-item section ul li {
  font-size: 12px;
  float: left;
  background: #fffcc3;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  padding: 3px;
  margin: 0 5px 0 0;
  border: 0;
}
/* line 115, ../sass/pages/plans.sass */
.plan-item footer {
  float: right;
  padding-top: 3px;
}

/* Plan history */
/* line 120, ../sass/pages/plans.sass */
sidebar.history {
  float: right;
  width: 218px;
  padding: 5px;
}
/* line 124, ../sass/pages/plans.sass */
sidebar.history li {
  padding: 7px 0;
  border-bottom: 1px dotted #cdcdcd;
}
/* line 127, ../sass/pages/plans.sass */
sidebar.history li span {
  font-size: 11px;
  display: block;
  color: #666666;
}

/* Globals and wrapper */
/* line 102, ../sass/screen.sass */
body {
  font: 13.34px Helvetica, Arial, sans-serif;
  color: #414141;
}

/* line 106, ../sass/screen.sass */
a {
  color: #4dace0;
}
/* line 108, ../sass/screen.sass */
a:visited {
  color: #3d9cd0;
}
/* line 110, ../sass/screen.sass */
a:hover {
  color: #333333;
}
/* line 112, ../sass/screen.sass */
a:active {
  color: black;
}

/* line 115, ../sass/screen.sass */
hr {
  border: 0;
  background: #cccccc;
  height: 1px;
}

/* line 120, ../sass/screen.sass */
strong {
  font-weight: bold;
}

/* line 123, ../sass/screen.sass */
em {
  font-style: italic;
}

/* line 126, ../sass/screen.sass */
input, textarea {
  font: 14px Helvetica, Arial, sans-serif;
}

/* line 129, ../sass/screen.sass */
section {
  overflow: hidden;
  *zoom: 1;
}

/* line 132, ../sass/screen.sass */
h1, h2, h3 {
  font-weight: 600;
}

/* line 135, ../sass/screen.sass */
h1 {
  font-size: 24px;
}

/* line 138, ../sass/screen.sass */
h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* line 142, ../sass/screen.sass */
.button, form input[type=submit], form button[type=submit], .green-button {
  font-size: 13px;
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0%, #72bc00), color-stop(100%, #90c135));
  background-image: -moz-linear-gradient(bottom, #72bc00 0%, #90c135 100%);
  background-image: linear-gradient(bottom, #72bc00 0%, #90c135 100%);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #568302;
  text-decoration: none;
  color: white;
  text-shadow: #568302 1px 1px 1px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  padding: 5px;
  color: white !important;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
/* line 152, ../sass/screen.sass */
.button:hover, form input[type=submit]:hover, form button[type=submit]:hover, .green-button:hover {
  background: #72bc00;
}

/* line 155, ../sass/screen.sass */
.green-button {
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0%, #72bc00), color-stop(100%, #90c135));
  background-image: -moz-linear-gradient(bottom, #72bc00 0%, #90c135 100%);
  background-image: linear-gradient(bottom, #72bc00 0%, #90c135 100%);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #568302;
  text-decoration: none;
}
/* line 158, ../sass/screen.sass */
.green-button:hover {
  background: #72bc00;
}

/* line 161, ../sass/screen.sass */
.cancel, .on_the_spot_editing form button[type=cancel] {
  background: none;
  border: 0;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  color: #990000 !important;
}

/* line 169, ../sass/screen.sass */
.badge, .large-picture, .badges li {
  background: #cdedff;
  display: block;
  float: left;
  border: 1px solid #bbbbbb;
  padding: 1px;
  color: #eeeeee;
  font-size: 8px;
  margin: 0 5px 5px 0;
}

/* line 179, ../sass/screen.sass */
.badge, .badges li {
  width: 30px;
  height: 30px;
}

/* line 183, ../sass/screen.sass */
.large-picture {
  width: 100px;
  height: 100px;
  margin-right: 20px !important;
}

/* line 188, ../sass/screen.sass */
#wrapper {
  overflow: hidden;
  *zoom: 1;
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0 30px 0 50px;
}

/* Notifications */
/* line 196, ../sass/screen.sass */
#notifications {
  position: fixed;
  top: 20px;
  left: -1px;
  font-size: 12px;
}
/* line 201, ../sass/screen.sass */
#notifications #alert {
  border: 1px solid #990000;
  background: #e5b6b6;
  padding: 10px;
}
/* line 205, ../sass/screen.sass */
#notifications #notice {
  border: 1px solid #558108;
  background: #bcdd9f;
  padding: 10px;
}

/* Left column */
/* line 211, ../sass/screen.sass */
#left-col {
  width: 107px;
  float: left;
}

/* line 216, ../sass/screen.sass */
h1 a {
  margin: 20px 0;
  height: 107px;
  display: block;
  background: url(/images/logo.png) no-repeat;
  text-indent: -30000px;
  outline: 0;
}

/* line 223, ../sass/screen.sass */
nav ul {
  width: 107px;
  background: url(/images/nav-shine.png) no-repeat 1px 1px #3baeee;
  -moz-box-shadow: #bbbbbb 0 0 2px 0px;
  -webkit-box-shadow: #bbbbbb 0 0 2px 0px;
  -o-box-shadow: #bbbbbb 0 0 2px 0px;
  box-shadow: #bbbbbb 0 0 2px 0px;
  border: 1px solid #999999;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  padding: 10px 0;
}
/* line 230, ../sass/screen.sass */
nav ul li {
  text-align: center;
  list-style: none;
  margin: 0;
}
/* line 234, ../sass/screen.sass */
nav ul li a {
  padding: 75px 0 15px 0;
  color: #003777;
  display: block;
  text-decoration: none;
  font-weight: bold;
}
/* line 240, ../sass/screen.sass */
nav ul li a#plans {
  background: url(/images/plans.png) no-repeat center 0;
}
/* line 242, ../sass/screen.sass */
nav ul li a#community {
  opacity: 0.65;
  background: url(/images/community.png) no-repeat center 0;
}
/* line 245, ../sass/screen.sass */
nav ul li a#challenges {
  opacity: 0.65;
  background: url(/images/challenges.png) no-repeat center 0;
}
/* line 248, ../sass/screen.sass */
nav ul li a#profile {
  background: url(/images/profile.png) no-repeat center 0;
}
/* line 250, ../sass/screen.sass */
nav ul li a#financial {
  opacity: 0.65;
  background: url(/images/financial.png) no-repeat center 0;
}
/* line 253, ../sass/screen.sass */
nav ul li a:visited {
  color: #003777;
}
/* line 255, ../sass/screen.sass */
nav ul li a:hover, nav ul li a.selected {
  color: white;
}

/* line 258, ../sass/screen.sass */
#help {
  display: block;
  width: 107px;
  height: 90px;
  background: url(/images/help.png) no-repeat;
  margin-top: 15px;
  text-indent: -30000px;
  outline: 0;
}

/* Right column */
/* line 267, ../sass/screen.sass */
#right-col {
  width: 893px;
  float: right;
}

/* line 271, ../sass/screen.sass */
#stats-bar {
  opacity: 0.2;
  float: left;
  margin: 20px 5px 19px 10px;
  padding: 15px;
  height: 77px;
  width: 750px;
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0%, #3baeee), color-stop(45%, #3baeee), color-stop(45%, #5ebdf1), color-stop(100%, #5ebdf1));
  background-image: -moz-linear-gradient(bottom, #3baeee 0%, #3baeee 45%, #5ebdf1 45%, #5ebdf1 100%);
  background-image: linear-gradient(bottom, #3baeee 0%, #3baeee 45%, #5ebdf1 45%, #5ebdf1 100%);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: #bbbbbb 0 0 1px 0px;
  -webkit-box-shadow: #bbbbbb 0 0 1px 0px;
  -o-box-shadow: #bbbbbb 0 0 1px 0px;
  box-shadow: #bbbbbb 0 0 1px 0px;
  border: 1px solid #999999;
  position: relative;
}
/* line 280, ../sass/screen.sass */
#stats-bar .coming-soon {
  opacity: 20;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* line 286, ../sass/screen.sass */
.badges {
  float: left;
  width: 150px;
}

/* line 290, ../sass/screen.sass */
#stats {
  color: white;
  float: right;
  height: 107px;
  color: white;
  text-shadow: #378cbb 1px 1px 2px;
}
/* line 295, ../sass/screen.sass */
#stats h2 {
  letter-spacing: 0;
  margin: 5px 0;
  font-size: 18px;
  font-weight: normal;
}
/* line 300, ../sass/screen.sass */
#stats li {
  float: left;
  width: 150px;
  text-align: center;
}
/* line 304, ../sass/screen.sass */
#stats li p {
  font-size: 36px;
}
/* line 306, ../sass/screen.sass */
#stats li p span {
  font-size: 24px;
}
/* line 309, ../sass/screen.sass */
#stats li.meter h2 {
  margin-bottom: 0;
}
/* line 311, ../sass/screen.sass */
#stats li.meter span {
  margin-left: 52px;
  float: left;
  width: 50px;
  height: 50px;
  background: url(/images/meter-bg.png) no-repeat;
  display: block;
}
/* line 318, ../sass/screen.sass */
#stats li.meter .hint {
  display: none;
}

/* line 321, ../sass/screen.sass */
#logout {
  display: block;
  margin-top: 20px;
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0%, #990000), color-stop(45%, #990000), color-stop(45%, #a3322b), color-stop(100%, #a3322b));
  background-image: -moz-linear-gradient(bottom, #990000 0%, #990000 45%, #a3322b 45%, #a3322b 100%);
  background-image: linear-gradient(bottom, #990000 0%, #990000 45%, #a3322b 45%, #a3322b 100%);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #666666;
  -moz-box-shadow: #454545 0 0 2px 0px;
  -webkit-box-shadow: #454545 0 0 2px 0px;
  -o-box-shadow: #454545 0 0 2px 0px;
  box-shadow: #454545 0 0 2px 0px;
  height: 107px;
  float: left;
  margin-right: 0;
  padding: 0 23px;
  color: white;
  line-height: 112px;
  text-decoration: none;
  font-size: 12px;
}

/* line 334, ../sass/screen.sass */
#content {
  clear: both;
  margin: 0 10px 10px 10px;
  padding: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: #cccccc 0 0 3px 1px;
  -webkit-box-shadow: #cccccc 0 0 3px 1px;
  -o-box-shadow: #cccccc 0 0 3px 1px;
  box-shadow: #cccccc 0 0 3px 1px;
  overflow: hidden;
  *zoom: 1;
}

/* line 342, ../sass/screen.sass */
#context-bar {
  height: 65px;
  font-weight: 550;
  margin-bottom: 10px;
  /* Filter buttons */
  /* Search bar */
  /* Share button */
}
/* line 347, ../sass/screen.sass */
#context-bar ul {
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0%, #3baeee), color-stop(45%, #3baeee), color-stop(45%, #5ebdf1), color-stop(100%, #5ebdf1));
  background-image: -moz-linear-gradient(bottom, #3baeee 0%, #3baeee 45%, #5ebdf1 45%, #5ebdf1 100%);
  background-image: linear-gradient(bottom, #3baeee 0%, #3baeee 45%, #5ebdf1 45%, #5ebdf1 100%);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: #bbbbbb 0 0 1px 0px;
  -webkit-box-shadow: #bbbbbb 0 0 1px 0px;
  -o-box-shadow: #bbbbbb 0 0 1px 0px;
  box-shadow: #bbbbbb 0 0 1px 0px;
  border: 1px solid #999999;
  float: left;
  padding: 0 10px;
  width: 225px;
}
/* line 352, ../sass/screen.sass */
#context-bar ul li {
  float: left;
}
/* line 354, ../sass/screen.sass */
#context-bar ul li a {
  text-indent: -30000px;
  outline: 0;
  background: url(/images/plan-filter-icons.png) no-repeat 0 -50px;
  width: 55px;
  height: 50px;
  display: block;
  margin: 7px 0;
}
/* line 361, ../sass/screen.sass */
#context-bar ul li a.profile {
  background-position: 0 -50px;
}
/* line 93, ../sass/screen.sass */
#context-bar ul li a.profile:hover, #context-bar ul li a.profile.selected {
  background-position: 0 0;
}
/* line 363, ../sass/screen.sass */
#context-bar ul li a.community {
  background-position: -55px -50px;
}
/* line 93, ../sass/screen.sass */
#context-bar ul li a.community:hover, #context-bar ul li a.community.selected {
  background-position: -55px 0;
}
/* line 365, ../sass/screen.sass */
#context-bar ul li a.challenges {
  background-position: -110px -50px;
}
/* line 93, ../sass/screen.sass */
#context-bar ul li a.challenges:hover, #context-bar ul li a.challenges.selected {
  background-position: -110px 0;
}
/* line 367, ../sass/screen.sass */
#context-bar ul li a.financial {
  background-position: -165px -50px;
}
/* line 93, ../sass/screen.sass */
#context-bar ul li a.financial:hover, #context-bar ul li a.financial.selected {
  background-position: -165px 0;
}
/* line 370, ../sass/screen.sass */
#context-bar input {
  width: 275px;
  height: 30px;
  padding: 10px 10px 10px 40px;
  background: url(/images/magnifying-glass.png) no-repeat 7px 10px white;
  border: 1px solid #aaaaaa;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: #666666 0 0 2px 0px;
  -webkit-box-shadow: #666666 0 0 2px 0px;
  -o-box-shadow: #666666 0 0 2px 0px;
  box-shadow: #666666 0 0 2px 0px;
  margin: 7px 0 0 15px;
  font-size: 18px;
  color: #dddddd;
}
/* line 381, ../sass/screen.sass */
#context-bar input:focus {
  outline: none;
}
/* line 384, ../sass/screen.sass */
#context-bar #button {
  float: right;
  width: 245px;
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0%, #72bc00), color-stop(100%, #90c135));
  background-image: -moz-linear-gradient(bottom, #72bc00 0%, #90c135 100%);
  background-image: linear-gradient(bottom, #72bc00 0%, #90c135 100%);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #568302;
  text-decoration: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
/* line 389, ../sass/screen.sass */
#context-bar #button:hover {
  background: #72bc00;
}
/* line 391, ../sass/screen.sass */
#context-bar #button a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: white;
  color: white;
  text-shadow: #568302 1px 1px 1px;
}
/* line 397, ../sass/screen.sass */
#context-bar #share {
  width: 195px;
  background: url(/images/share-icon.png) no-repeat 150px 5px;
  line-height: 40px;
  font-size: 35px;
  padding: 15px 0 0 50px;
  height: 50px;
}
/* line 404, ../sass/screen.sass */
#context-bar #create-plan {
  height: 65px;
  line-height: 65px;
  font-size: 30px;
  text-align: center;
}
