/**
 * Stylesheet for plans
 * Author: Alex Duller
 * Contents:
 * - 
 */

.plan-day
  margin-bottom: 10px
  h3
    @include shiny-blue-box
    @include border-radius(4px)
    @include blue-text-shadow
    padding: 10px
    color: white
    font-size: 18px
    a
      color: white
      float: right
      font-size: 14px
  section
    background: #cdedff
    padding: 10px
