/**
 * Stylesheet for plans
 * Author: Alex Duller
 * Contents:
 * - 
 */

.plan
  

.plan-day
  margin-bottom: 10px
  h3
    @include shiny-blue-box
    @include border-radius(4px)
    @include blue-text-shadow
    padding: 10px
    color: white
    font-size: 18px
    a
      color: white
      float: right
      font-size: 14px
  section
    background: #cdedff
    padding: 10px

.exercise
  width: 120px
  float: left
  margin: 0 10px 10px 0
  text-align: center
  img
    width: 120px
    height: 120px
