= div_for day do
  %h3
    %span Day #{@day_count || day_counter + 1}
    %span=link_to 'Delete day', plan_day_path(day.plan, day), :method => :delete
  %section
    %ul.day-items
      = render day.plan_items
    = link_to 'Add exercise', new_plan_day_plan_item_path(day.plan, day), :class => 'add-exercise', :remote => true
