.plan-day
  %h3
    %span
    = link_to "Remove"
  %section
    = f.link_to_add "Add an item", :plan_items, :class => 'button'
    = f.fields_for :plan_items do |item_form|
      = render :partial => 'plan_item', :locals => {:f => item_form}

