$('.form_errors').html('');
<% if @errors %>
  $('#notifications').html('').show();
  $('<div id="alert">Could not update your goals</div>')
    .appendTo('#notifications').delay(5000).fadeOut(2000);
  <% @user_goals.each_with_index do |goal, idx| %>
    <% if goal.errors.any? %>
      var form_errors = $('.form_errors').get(<%= idx %>);
      $(form_errors).html('<%= escape_javascript(render('shared/form_errors', :object => goal)) %>');
    <% end %>
  <% end %>
<% else %>
  $('#notifications').html('').show();
  $('<div id="notice">Updated your goals</div>')
    .appendTo('#notifications').delay(5000).fadeOut(2000);
<% end %>
